[DEFAULT]
ConnectionType=initiator
LogonTimeout=30
LogoutTimeout=10
ReconnectInterval=30
FileStorePath=store
FileLogPath=log
# Enable verbose logging to catch all errors
DebugFileLogPath=log
DebugDetailedProtocol=Y
UseDataDictionary=Y
DataDictionary=config/binance-spot-fix-md.xml
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValues=Y
ValidateUserDefinedFields=N
ValidateIncomingMessage=Y
ValidateChecksum=Y
# SSL is handled by stunnel proxy.
# Because QuickFIX can't handle Binance SSL/TSL, QuickFIX connects to localhost without SSL 
SocketUseSSL=N

[SESSION]
BeginString=FIX.4.4
SenderCompID=BFMConn
TargetCompID=SPOT
# Connect to stunnel proxy on localhost (stunnel forwards to fix-md.binance.com:9000 with SSL)
SocketConnectHost=127.0.0.1
SocketConnectPort=9001
HeartBtInt=30
StartTime=00:00:01
EndTime=23:59:59
CheckLatency=Y
MaxLatency=240
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y

